:local(.widget) {
  border: 1px solid red;
  width: 20%;
  height: 80px;

  :local(.icon) {
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    background-color: grey;
    line-height: 95px;
    height: 100%;

    i {
      font-size: 40px;
    }
  }
}
