:local(.container) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0px 0px 61px -32px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 61px -32px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 61px -32px rgba(0, 0, 0, 0.75);
  padding: 10px;
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-bottom: 30px;

  > div.loading {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
  }

  .titleLine {
    display: block;
    height: 1px;
    border: 0;
    border-top: 0.5px solid #dadada;
    margin: 1em 0;
    padding: 0;
    width: 106%;
    margin-left: -3%;
  }

  .header {
    display: block;
    height: auto;
    color: #5f666a;
    margin-top: 15px;
    margin-bottom: 18px;
    > i {
      font-size: 30px;
    }

    > span {
      font-weight: normal;
      font-size: 20px;
      position: absolute;
      margin-top: 4px;
      margin-left: 15px;
    }
  }

  .chatContainer {
    height: 323px;
    width: 105%;
    margin-left: -2.8%;
    margin-top: -18px;
    overflow-y: scroll;
  }

  .msgSender {
    position: relative;
    width: 97%;
    margin-left: -10px;
    display: inline-flex;
    height: 40px;
    /* margin-bottom: 200px; */
    margin-top: -2px;
    border-top: 0.5px solid #cecece;
    padding: 17px 10px 10px 20px;
    background-color: white;
    > input {
      width: 80%;
      text-indent: 10px;
      border: 1px solid #d0d0d0;
    }

    > button {
      background-color: #77bf2d;
      color: white;
      font-weight: bold;
      width: 20%;
      border: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      font-size: 17px;
    }
  }
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  :local(.container) {
    .titleLine {
      width: 103.8%;
      margin-left: -1.8%;
      margin-top: -1px;
    }

    .chatContainer {
      width: 104%;
    }

    .msgSender {
      width: 98.2%;
    }
  }
}
