:local(.msgBlock) {
  display: block;
  width: 100%;
  border-bottom: 1px solid rgb(185, 185, 185);
  color: #5f666a;
  height: 110px;
  padding: 25px 0px 25px 20px;

  .imgRight {
    .msgTitle {
      border: 1px solid black;
      .userName {
        font-weight: bold;
        color: #383a3b;
        font-size: 15px;
        letter-spacing: 0.2px;
      }
      .msgTime {
        color: gray;
        font-size: 12px;
        margin-left: 10px;
      }
    }

    .userImg {
      height: 80px;
      border-radius: 100%;
      width: auto;
      float: left;
    }
  }

  .imgLeft {
    .msgTitle {
      border: 1px solid black;
      .userName {
        font-weight: bold;
        color: #383a3b;
        font-size: 15px;
        letter-spacing: 0.2px;
      }
      .msgTime {
        color: gray;
        font-size: 12px;
        margin-left: 10px;
      }
    }

    .userImg {
      height: 80px;
      border-radius: 100%;
      width: auto;
      float: left;
    }
  }
}
